.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70vh;
    width: 70vw;
    margin: 0 auto;
}

.array-bar  {
    width: 10vw;
    background-color:#3f51b5;
    color: white;
    margin: 0.15vw;
}

.mat-toolbar {
    margin-bottom: 2rem;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.mat-toolbar-row > div, button {
    margin: 0 auto;
    font-size: 0.9rem;
}
/* Change the default style of disabled buttons */
::ng-deep .mat-button-disabled {
    color: white !important;
    opacity: 65% !important;
    cursor: not-allowed !important;
}
