<mat-toolbar color="primary" fxLayout.lt-md="column" fxLayout="row">
    <mat-toolbar-row>
        <button mat-raised-button (click)="create()" [disabled]="!dataService.getIsFinished()">Generate Random Array</button>
    </mat-toolbar-row>
        <mat-toolbar-row>
            <div>
                <label for="size-slider">Size</label>
                <mat-slider 
                    id="size-slider"
                    [(ngModel)]="dataService.ARRAY_SIZE" 
                    (change)="onRangeChange()" 
                    [min]="3" 
                    [max]="100" 
                    [disabled]="!dataService.getIsFinished()"> </mat-slider>
                <label for="speed-slider">Speed</label>
                <mat-slider id="speed-slider" 
                    (change)="onSpeedChange($event.value)" 
                    [value]="-1 * ANIMATION_SPEED_MS" 
                    [min]="-130" 
                    [max]="-3" 
                    [disabled]="!dataService.getIsFinished()"></mat-slider>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <div>
                <button mat-button (click)="mergeSort()" [disabled]="dataService.getIsSorted()">Merge Sort</button>
                <button mat-button (click)="bubbleSort()" [disabled]="dataService.getIsSorted()">Bubble Sort</button>
                <button mat-button (click)="insertionSort()" [disabled]="dataService.getIsSorted()">Insertion Sort</button>
            </div>
        </mat-toolbar-row>
</mat-toolbar>
<!-- ======= VISUALIZER ======== -->
<div class="array-container" #container>
    <div *ngFor="let item of array" class="array-bar" [style.height]="(item / 7) + '%'" [style.backgroundColor]="'#3f51b5'" >
    </div>
</div>
